

/* wrapper */
#wrapper { width: 100%; float: left; overflow: hidden; }	
	
	/* header wrapper */
	#headerWrapper { padding: 20px 0; width: 100%; float: left; position: fixed; top: 0px; left: 0px; z-index: 99; background: rgba(0,0,0,0.7); }
	#headerWrapper .mobilemenubtn { display: none; }
	
		/* logo area */
		.logoArea { padding: 1px 0 0 0; float: left; }
		.logoArea img { max-width: 100%; height: auto; }
		
		/* menu area */
		.menuArea { float: right; }
		.menuArea ul { list-style: none; }
		.menuArea li { padding: 9px 0 0 45px; float: left; }
		.menuArea ul.user-menu li { padding: 9px 0 0 20px; float: left; }
		.menuArea li a { display: block; font-size: 16px; color: #e4e4e4; text-decoration: none; }
		.menuArea li a:hover, .menuArea li a.selected { color: #d60000; }
		.menuArea li.login, .menuArea ul.user-menu li.login { padding: 0 0 0 32px; }
		.menuArea li.login a { padding: 9px 15px; color: #fff; border-radius: 4px; background-image: url('/images/login_btn.png'); background-position: right top; background-repeat: no-repeat; }
		.menuArea li.login a:hover { color: #a80000; background-position: left top;  }
		
	/* banner wrapper */
	#bannerWrapper { width: 100%; float: left; }
	#bannerWrapper ul { list-style: none; }
	#bannerWrapper li { width: 100%; height: 683px; float: left; background-position: top center; background-repeat: no-repeat; background-size: cover; border-bottom: 5px solid #bd0000; }
	#bannerWrapper li.ma { height: auto; }
	#bannerWrapper li a.logo-ma { display: none; }
	#bannerWrapper li.ma a.logo-ma { display: block; margin-top: 65px; }
	#bannerWrapper li.ma a.logo-normal { display: none; }
	#bannerWrapper li.ma a.buy-btn { display: none; }
	#bannerWrapper li.ma .text p { display: none; }

	#bannerWrapper li .man-ma { display: none; }
	#bannerWrapper li.ma .man-ma { display: block; margin: 0 0 0 -140px; }
	#bannerWrapper li.ma .man-normal { display: none; }

	li.ma .overlay { z-index: 3; }
			
		/* banner area */
		.bannerArea { padding: 33px 0 0 0; width: 100%; float: left; position: relative;}
		.bannerArea .chart { position: absolute; bottom: 0; left: 0; width: 100%; height: 276px; z-index: 3; text-align: center; background: url(/images/header_chart_big2.png) no-repeat bottom center; }
		.bannerArea .chart img {  }
		.bannerArea .overlay { padding: 105px 0 0 0; font-size: 16px; line-height: 26px; color: #fff; z-index: 4; }
		/*.bannerArea .overlay figure { margin: 0 25px 0 -37px; float: left; position: relative; z-index: 3; }*/
		.bannerArea .overlay figure { margin: -20px 25px 0 -57px; float: left; position: relative; z-index: 3; }
		.bannerArea .overlay h1 { margin: 33px 0 12px 0; font-family: 'Open Sans', sans-serif; font-size: 62px; font-weight: 700; text-transform: uppercase;  text-shadow: 2px 2px 5px rgba(0,0,0,0.5); letter-spacing: 1px; line-height: 72px; }
		.bannerArea .overlay strong { font-weight: 500; }
		.bannerArea .overlay p { margin: 0 35px 29px 0; padding: 25px 0 5px 35px; position: relative; color: #E2E2E2; }
		.bannerArea .overlay p:after { content: ""; position: absolute; top: 10px; left: -120px; z-index: -1; width: 600px; height: 110px; -webkit-transform: skew(166deg); -moz-transform: skew(166deg); -o-transform: skew(166deg); background: #000; opacity: 0.5; filter: alpha(opacity=50); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
		.bannerArea .overlay a.buy-btn { padding: 12px 20px; margin-left: 35px; display: inline-block; font-size: 24px; color: #fff; font-weight: 500; text-decoration: none; border-radius: 4px; background-image: url('/images/buy_btn2.png'); background-position: right top; }
		.bannerArea .overlay a.buy-btn span { margin-left: 17px; float: right; }
		.bannerArea .overlay a.buy-btn:hover { color: #d60000; background-position: left top; }
		.bannerArea .image figure { margin: 0 0 0 -205px; float: left; position: relative; z-index: 2; }
		
		.bannerArea .overlay .box { margin: 0; padding: 0; max-width: 330px;}
		.bannerArea .overlay .text { margin: 0 0 0 -45px; padding: 0;}
		.bannerArea .overlay .text img { display: inline-block; }

	/* user menu wrapper */
	#userMenuWrapper { width: 100%; float: left; border-top: 1px solid #101616; }

		.user-menu { background-color: #171717; text-align: center; border-bottom: 1px solid #424448; border-top: 1px solid #424448; }
		.user-menu ul { list-style: none; margin: 0 auto; padding: 0; max-width: 1070px; width: 100%; display: table; }
		.user-menu li { padding: 0; margin: 0; display: table-cell; text-align: center; border-left: 1px solid #424448; }
		.user-menu li a { padding: 15px 5px; display: block; font-size: 16px; color: #e4e4e4; text-decoration: none;}
		.user-menu li:last-child { border-right: 1px solid #424448; }
		.user-menu li a:hover, .user-menu li a.selected { color: #d60000; }
	
	/* middle wrapper */	
	#middleWrapper { width: 100%; float: left; }
		
		/* remain area */
		.remainArea { padding: 16px 0 16px 0; width: 100%; float: left; color: #fff; background: #d70303; }
		.remainArea h3 { margin-top: 17px; font-size: 24px; line-height: 36px; }
		.remainArea .clock { padding: 7px 14px; width: 97%; float: right; border-width: 1px; border-style: solid; border-color: #a30000 #de2d2d #de2d2d #a30000; box-shadow: 1px 1px 1px #a30000 inset; background: #ca0000; }
		.remainArea .clock ul { list-style: none; text-align: center; }
		.remainArea .clock li { width: 20.5%; float: left; }
		.remainArea .clock li.point { width: 6%; font-size: 78px; }
		.remainArea .clock li p { margin: 0 0 8px 0; }
		.remainArea .clock li span { width: 100%; float: left; }
		.remainArea .clock li cite { width: 49%; height: 67px; line-height: 64px; float: left; position: relative; font-size: 48px; font-style: normal; border: 1px solid #b10000; border-radius: 4px; background: url('/images/clock_bg.jpg') repeat; }
		.remainArea .clock li cite:last-child { float: right; }
		.remainArea .clock li cite:after { width: 100%; height: 1px; position: absolute; top: 50%; left: 0px; content: ""; background: #b10000; }
		.homePageCounter { padding: 20px 0 5px 0; background: #1A1A1A;  }
		.homePageCounter h3 { text-align: center; }
        
        .remainArea .limited-offer {color: #fff; font-size: 60px; font-weight: bold;}
		.remainArea a.limited-offer-a {color: #fff; font-size: 24px; text-decoration: underline;}
        

    /* Confirm on Exit/Close button */
    .wsfr-gradient { background: #d50505; /* Old browsers */ background: -moz-linear-gradient(top,  #d50505 0%, #8e0303 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d50505), color-stop(100%,#8e0303)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #d50505 0%,#8e0303 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #d50505 0%,#8e0303 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #d50505 0%,#8e0303 100%); /* IE10+ */ background: linear-gradient(to bottom,  #d50505 0%,#8e0303 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d50505', endColorstr='#8e0303',GradientType=0 ); /* IE6-9 */ }
    .vf-gradient { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5cafa4+0,226869+100 */background: #5cafa4; /* Old browsers */background: -moz-linear-gradient(top,  #5cafa4 0%, #226869 100%); /* FF3.6-15 */background: -webkit-linear-gradient(top,  #5cafa4 0%,#226869 100%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to bottom,  #5cafa4 0%,#226869 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cafa4', endColorstr='#226869',GradientType=0 ); /* IE6-9 */}
    .fd-gradient { background: #4875ac; /* Old browsers */ background: -moz-linear-gradient(top,  #4875ac 0%, #1c4678 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4875ac), color-stop(100%,#1c4678)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #4875ac 0%,#1c4678 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #4875ac 0%,#1c4678 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #4875ac 0%,#1c4678 100%); /* IE10+ */ background: linear-gradient(to bottom,  #4875ac 0%,#1c4678 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4875ac', endColorstr='#1c4678',GradientType=0 ); /* IE6-9 */ }
    .ftd-gradient { background: #02e2fb; /* Old browsers */ background: -moz-linear-gradient(top,  #02e2fb 0%, #01053d 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#02e2fb), color-stop(100%,#01053d)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #02e2fb 0%,#01053d 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #02e2fb 0%,#01053d 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #02e2fb 0%,#01053d 100%); /* IE10+ */ background: linear-gradient(to bottom,  #02e2fb 0%,#01053d 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02e2fb', endColorstr='#01053d',GradientType=0 ); /* IE6-9 */ }
    .fgi-gradient {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9b81e+0,a27f12+100 */background: #e9b81e; /* Old browsers */background: -moz-linear-gradient(top,  #e9b81e 0%, #a27f12 100%); /* FF3.6-15 */background: -webkit-linear-gradient(top,  #e9b81e 0%,#a27f12 100%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to bottom,  #e9b81e 0%,#a27f12 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9b81e', endColorstr='#a27f12',GradientType=0 ); /* IE6-9 */}		

    .backgr-close-btn { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #000000; z-index: 100; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; filter: alpha(opacity=90); opacity: 0.90; }
    .wrapper-close-btn { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #000000; z-index: 101; overflow-y: scroll; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; filter: alpha(opacity=90); opacity: 1; }

    .ea-block {	width: 100%; overflow: hidden; position: relative; }
    /*.ea-block { width: 100%; border: 1px solid #dcdcdc; overflow: hidden; position: relative; background-color: #F0F0F0; }*/
    .ea-block img { display: inline-block; }
    .ea-block-gold { width: 100%; overflow: hidden; border: 2px solid #61c7f5; }
    .ea-block-gold-bckgr { background-image: url( /images/forex_diamond/bckgr_fd_gold.png ); background-repeat: no-repeat; z-index: 12; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

    .wrapper-close-btn .title { font-size: 36px; }
    /* modal dialog */
    .modal-body ul { list-style-position: inside; }

  
/* Flash class and keyframe animation */
.flash-pulse{ color:#333; font-weight: 700; font-size: 30px; -webkit-animation: flash linear 1s infinite; animation: flash linear 3s infinite; }
@-webkit-keyframes flash-pulse {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash-pulse {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
/* ------------- Confirm Exit Counter -------------- */
.confirm-exit-counter-bckgr { max-width: 60%; margin: 10px 0; }
.confirm-exit-counter { width: 300px; max-width: 100%; margin: 0 auto; padding: 20px 0; }
.confirm-exit-counter .bf-time-left-OLD { position: absolute; width: 0; height: 69px; z-index: 1; top: 328px; left: 227px; padding: 6px 0 0 0; margin: 0; text-align: center; font-size: 36px; color: #40403e; font-weight: bold; font-family: Arial, Helvetica, sans-serif; }
.confirm-exit-counter .bf-time-left {float: left;width: 9%;height: 50px;line-height: 50px;padding: 0;margin: 0 1% 0 1%;text-align: center;font-size: 36px;color: #40403e;font-weight: bold;font-family: Arial, Helvetica, sans-serif;background: #fcfcfc;background: -moz-linear-gradient(top, #fcfcfc 0%, #e1e1e1 50%, #fafafa 51%, #e1dede 100%);background: -webkit-linear-gradient(top, #fcfcfc 0%,#e1e1e1 50%,#fafafa 51%,#e1dede 100%);background: linear-gradient(to bottom, #fcfcfc 0%,#e1e1e1 50%,#fafafa 51%,#e1dede 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e1dede',GradientType=0 );-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.confirm-exit-counter .confirm-exit-labels { padding: 5px 0 0 0; width: 100%; }
.confirm-exit-counter .confirm-exit-labels .item { padding: 0; margin-right: 5%; width: 21%; font-size: 9px; color: #fff; text-align: center; float: left; text-transform: uppercase; }
.confirm-exit-counter .confirm-exit-labels .item:last-child {margin-right: 0;}
.confirm-exit-counter .bf-time-left-dots { float: left; color: #fff; width: 4%; height: 50px; line-height: 42px; text-align: center; font-size: 36px; font-weight: bold; font-family: Times New Roman;}
.confirm-exit-counter .bf-time-left { top: 0; left: 0; }
.confirm-exit-counter .time_left_hours_first_promo { left: 98px; }
.confirm-exit-counter .time_left_hours_second_promo { left: 136px; }
.confirm-exit-counter .time_left_minutes_first_promo { left: 186px; }
.confirm-exit-counter .time_left_minutes_second_promo { left: 225px; }
.confirm-exit-counter .time_left_seconds_first_promo{ left: 276px; }
.confirm-exit-counter .time_left_seconds_second_promo { left: 316px; }

.ce-winter-title { text-align: center; font-size: 68px; font-weight: 700; color: #fff; }



/*---- Promo Offer Popup ----*/
.promo-offer {padding: 0;margin: 0;overflow: hidden;}.promo-offer .head {background: -moz-linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(192,192,192,1)));background: -webkit-linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 100%);background: -o-linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 100%);background: -ms-linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 100%);background: linear-gradient(0deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c0c0c0',GradientType=0 );border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;padding: 17px 0;}
.promo-offer .head .title { font-size: 42px; color: #e80000; text-transform: uppercase; font-weight: 600; letter-spacing: -2px; }
.promo-offer .body { color: #fff; padding: 45px 0 35px 0; }
.promo-offer .body .text { font-size: 46px; text-transform: uppercase; }
.promo-offer .body .robot-name { font-size: 36px; }
.promo-offer .body .price { font-size: 36px; }
.promo-offer .body .price .red { color: #ff0000; font-weight: bold; text-decoration: line-through; }
.promo-offer .body .price .green { color: #00c638; font-size: 42px; font-weight: bold; }
.promo-offer .body .italic { font-style: italic; font-size: 24px; }
.promo-offer .body .one-time-offer { color: #e80000; font-size: 18px; width: 100%; margin: 35px auto; }

.backgr-close-btn-promo { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #000000; z-index: 100; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; filter: alpha(opacity=90); opacity: 0.90; }
.wrapper-close-btn-promo { position: absolute; top: 0; left: 0; width: 100%; height: 100%;  z-index: 101; overflow-y: scroll; }

/* Forex GOLD Investor Counter */
.fgi_counter { position: absolute; top: 125px; right: 60px; width: 45%; }
.fgi_counter .text-under { font-size: 20px; color: #fff; text-align: center; }
.fgi_counter .clock { padding: 0 14px; width: 100%; float: right; border-width: 1px; border-style: solid; /*border-color: #ac870c #f2cc4d #f2cc4d #ac870c; box-shadow: 1px 1px 1px #ac870c inset; */background: #000; }
.fgi_counter .clock ul { list-style: none; text-align: center; padding: 0; }
.fgi_counter .clock li { width: 20.5%; float: left; }
.fgi_counter .clock li.point { width: 6%; font-family: 'Roboto Condensed', sans-serif; font-weight: 400; line-height: 1.7; font-size: 45px; color: #e9b80f; }
.fgi_counter .clock li p { margin: 0 0 5px 0; font-family: 'Roboto Condensed', sans-serif; font-weight: 400; color: #fff; }
.fgi_counter .clock li span { width: 100%; float: left; }
.fgi_counter .clock li cite { width: 49%; height: 40px; float: left; position: relative; font-family: 'Roboto Condensed', sans-serif; font-size: 30px; font-style: normal; border-radius: 4px; background-color: #E9B80F; font-weight: bold; color: #000; -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.5);
-moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.5);
box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.5); }
.fgi_counter .clock li cite:last-child { float: right; }
.fgi_counter .clock li cite:after { width: 100%; height: 1px; position: absolute; top: 50%; left: 0px; content: ""; background: #323232; }

/* ----------- how to be successful pdf -------------- */

.how-to-be-successful { padding: 15px 15px 15px 60px; font-size: 14px; color: #414141; border:1px solid #d6d6d6; background: #f5f5f5 url(/images/warning_30x30.png) no-repeat 15px 19px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}

/************ Members offer **********/
.members_offer_sec { width: 100%; float: left; background-color: #000; position: relative; z-index: 1; }
/*.members_offer_sec:after { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; content: ""; opacity: 0.25; z-index: -1; background: url('/images/walls_bg2.jpg') no-repeat top center; background-size: cover; }*/
.members_offer_sec:after { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; content: ""; opacity: 0.25; z-index: -1; background: url('/images/walls_bg2.webp') no-repeat top center; background-size: cover; }
.members_offer_sec .content { /*width: 1600px;*/ max-width: 100%; margin: 0 auto; padding: 0 0 10px 0; }
.members_offer_sec .content h2 { font-size: 32px; font-weight: 700; font-family: 'Roboto', sans-serif; text-align: center; color: #fff; margin: 0; padding: 20px 0 10px 0; }
.members_offer_sec .content h2 span { color: #C80000; }
.members_offer_sec .content .box { background-color: #F2F2F2; color: #fff; text-align: center; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 10px; margin: 20px 5px; }
.members_offer_sec .content .box .box-img { width: 190px; max-width: 100%; margin: 0 auto; padding: 5px 0 0 0; }
.members_offer_sec .content .box .box-img img { max-width: 100%; }
.members_offer_sec .content .box .title { text-transform: uppercase; font-size: 20px; font-weight: 700; padding-top: 5px; font-family: 'Roboto', sans-serif; color: #333; }
.members_offer_sec .content .box .regular { font-size: 22px; text-decoration: line-through; color: #333; }
.members_offer_sec .content .box .special { font-size: 32px; font-weight: 700; color: #d60000; }
.members_offer_sec .content .box .text { font-size: 16px; font-style: italic; font-family: 'Roboto', sans-serif; color: #333; }
.members_offer_sec .content .box .btn, .members_offer_sec .content .box .btn:focus { max-width: 100%; height:40px; padding:0 30px; margin:20px 0 15px 0; display:inline-block; font-size:18px; font-weight: 500; color: #fff; line-height:40px; font-family: 'Roboto', sans-serif; background: #a80000; border-radius:3px; }
.members_offer_sec .content .box .btn i{ margin:0 0 0 5px; font-weight: 300;}
.members_offer_sec .content .box .btn:hover { color:#fff; background: #000; }

.members_offer_sec .content .hot-offer { position: absolute; text-transform: uppercase; background: #ffe502; padding: 3px 0 0 0; font-weight: bold; border: 3px solid #ff240e; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 205px; color: #ff240e; top: 5px; text-align: center; margin: 0 auto; left: 0; right: 0; }

.members_offer_xmas { background: #BD0000; }
.members_offer_xmas:after { background: none; }
.members_offer_xmas .content h2 { font-size: 32px; }

/************ Xmas Exit offer **********/
.xmax_x_box { background-color: #F2F2F2; color: #fff; text-align: center; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 10px; margin: 20px 5px; }
.xmax_x_box .box-img { width: 150px; max-width: 100%; margin: 0 auto; padding: 0; }
.xmax_x_box .box-img img { max-width: 100%; }
.xmax_x_box .title { text-transform: uppercase; font-size: 18px; font-weight: 700; padding-top: 5px; font-family: 'Roboto', sans-serif; color: #333; }
.xmax_x_box .regular { font-size: 22px; text-decoration: line-through; color: #333; }
.xmax_x_box .special { font-size: 32px; font-weight: 700; color: #d60000; }
.xmax_x_box .text { font-size: 16px; font-style: italic; font-family: 'Roboto', sans-serif; color: #333; }
.xmax_x_box .btn, .xmax_x_box .btn:focus { max-width: 100%; height:40px; padding:0 30px; margin:0; display:inline-block; font-size:18px; font-weight: 500; color: #fff; line-height:40px; font-family: 'Roboto', sans-serif; background: #a80000; border-radius:3px; }
.xmax_x_box .btn i{ margin:0 0 0 5px; font-weight: 300;}
.xmax_x_box .btn:hover { color:#fff; background: #000; }

/*
.xmax_x_offer_sec .content .box { background-color: #F2F2F2; color: #fff; text-align: center; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 10px; margin: 20px 5px; }
.xmax_x_offer_sec .content .box .box-img { width: 190px; max-width: 100%; margin: 0 auto; padding: 5px 0 0 0; }
.xmax_x_offer_sec .content .box .box-img img { max-width: 100%; }
.xmax_x_offer_sec .content .box .title { text-transform: uppercase; font-size: 20px; font-weight: 700; padding-top: 5px; font-family: 'Roboto', sans-serif; color: #333; }
.xmax_x_offer_sec .content .box .regular { font-size: 22px; text-decoration: line-through; color: #333; }
.xmax_x_offer_sec .content .box .special { font-size: 32px; font-weight: 700; color: #d60000; }
.xmax_x_offer_sec .content .box .text { font-size: 16px; font-style: italic; font-family: 'Roboto', sans-serif; color: #333; }
.xmax_x_offer_sec .content .box .btn, .members_offer_sec .content .box .btn:focus { max-width: 100%; height:40px; padding:0 30px; margin:20px 0 15px 0; display:inline-block; font-size:18px; font-weight: 500; color: #fff; line-height:40px; font-family: 'Roboto', sans-serif; background: #a80000; border-radius:3px; }
.xmax_x_offer_sec .content .box .btn i{ margin:0 0 0 5px; font-weight: 300;}
.xmax_x_offer_sec .content .box .btn:hover { color:#fff; background: #000; }
*/

.x_offer_xmas { background: #BD0000; }
.x_offer_xmas:after { background: none; }
.x_offer_xmas .content h2 { font-size: 32px; }

/* OVERWRITE col-md, col-sm*/
/*.members_offer_sec .col-md-2 { width: 20%; }*/

/* ----------- Cooki Consent -------------- */
div.cookie-consent { padding: 20px; position: fixed; right: 15px; bottom: 15px; z-index: 10000; max-width: 400px; background-color: #000; }
div.cookie-consent span { color: #fff; font-size: 14px; }
div.cookie-consent span a { color: #fff; text-decoration: underline; }
div.cookie-consent .consent-btn-block { text-align: center; padding-top: 15px;}
div.cookie-consent .consent-btn { padding: 5px 30px; margin:0; background-color: #eec228; color: #fefefe; font-size: 14px; background:#eec228; border-radius:3px; text-transform: uppercase; }
div.cookie-consent .consent-btn:hover { color:#fff; background: #ffc600; }
@media (max-width:480px) {
	div.cookie-consent { right: 0px; bottom: 0px; max-width: 100%; width: 100%; }
}

/* GENERAL CSS CODE END */


        
        /***** Confirm Exit ******/

        .x-btn-title { font-size: 32px; }
        .ea-block2 .pips-title2 { font-size: 24px; }
        .ea-block2 .pips-title { font-size: 22px; }

        /* ----- FTD ----- */
        .ea-block2 .ftd-gradient2 { margin: 0 0 160px 0; }
        .ea-block2 .ftd-gradient2 .title { font-size: 24px; }
        .ea-block2 .ftd-gradient2 .box .hexagon { width: 280px; height: 161.66px; margin: 80.83px auto; }
        .ea-block2 .ftd-gradient2 .box .hexagon:before, .ea-block2 .ftd-gradient2 .box .hexagon:after { width: 197.99px; height: 197.99px; left: 39.0051px; }
        .ea-block2 .ftd-gradient2 .box .hexagon:before { top: -98.9949px; }
        .ea-block2 .ftd-gradient2 .box .hexagon:after { bottom: -98.9949px; }
        .ea-block2 .ftd-gradient2 .box .image-box { max-width: 60%; top: -18px; }
        .ea-block2 .ftd-gradient2 .box .label-box { max-width: 35%; right: 0; top: 69%; max-width: 45%; }
        .ea-block2 .ftd-gradient2 .box .label-box-summer-so { max-width: 50%; left: -35px; top: 70%; }
        .ea-block2 .ftd-gradient2 .box .label-box-xmas { max-width: 80%; right: -75px; top: 97%; }

        /* ----- FD ----- */
        .ea-block2 .fd-gradient2 { margin: 0 0 160px 0; }
        .ea-block2 .fd-gradient2 .title { font-size: 24px; }
        .ea-block2 .fd-gradient2 .box .hexagon { width: 280px; height: 161.66px; margin: 80.83px auto; }
        .ea-block2 .fd-gradient2 .box .hexagon:before, .ea-block2 .fd-gradient2 .box .hexagon:after { width: 197.99px; height: 197.99px; left: 39.0051px; }
        .ea-block2 .fd-gradient2 .box .hexagon:before { top: -98.9949px; }
        .ea-block2 .fd-gradient2 .box .hexagon:after { bottom: -98.9949px; }
        .ea-block2 .fd-gradient2 .box .image-box { max-width: 60%; top: -18px; }
        .ea-block2 .fd-gradient2 .box .label-box { max-width: 35%; right: 0; top: 69%; max-width: 45%; }
        .ea-block2 .fd-gradient2 .box .label-box-summer-so { max-width: 50%; left: -35px; top: 70%; }
        .ea-block2 .fd-gradient2 .box .label-box-xmas { max-width: 80%; right: -75px; top: 97%; }

        /* ----- VF ----- */
        .ea-block2 .vf-gradient2 { margin: 0 0 160px 0; }
        .ea-block2 .vf-gradient2 .title { font-size: 24px; }
        .ea-block2 .vf-gradient2 .box .hexagon { width: 280px; height: 161.66px; margin: 80.83px auto; }
        .ea-block2 .vf-gradient2 .box .hexagon:before, .ea-block2 .vf-gradient2 .box .hexagon:after { width: 197.99px; height: 197.99px; left: 39.0051px; }
        .ea-block2 .vf-gradient2 .box .hexagon:before { top: -98.9949px; }
        .ea-block2 .vf-gradient2 .box .hexagon:after { bottom: -98.9949px; }
        .ea-block2 .vf-gradient2 .box .image-box { max-width: 60%; top: -18px; }
        .ea-block2 .vf-gradient2 .box .label-box { max-width: 35%; right: 0; top: 69%; max-width: 45%; }
        .ea-block2 .vf-gradient2 .box .label-box-summer-so { max-width: 50%; left: -35px; top: 70%; }
        .ea-block2 .vf-gradient2 .box .label-box-xmas { max-width: 80%; right: -75px; top: 97%; }
        
        /* ----- FGI ----- */
        .ea-block2 .fgi-gradient2 { margin: 0 0 160px 0; }
        .ea-block2 .fgi-gradient2 .title { font-size: 24px; }
        .ea-block2 .fgi-gradient2 .box .hexagon { width: 280px; height: 161.66px; margin: 80.83px auto; }
        .ea-block2 .fgi-gradient2 .box .hexagon:before, .ea-block2 .fgi-gradient2 .box .hexagon:after { width: 197.99px; height: 197.99px; left: 39.0051px; }
        .ea-block2 .fgi-gradient2 .box .hexagon:before { top: -98.9949px; }
        .ea-block2 .fgi-gradient2 .box .hexagon:after { bottom: -98.9949px; }
        .ea-block2 .fgi-gradient2 .box .image-box { max-width: 60%; top: -18px; }
        .ea-block2 .fgi-gradient2 .box .label-box { max-width: 35%; right: 0; top: 69%; max-width: 45%; }
        .ea-block2 .fgi-gradient2 .box .label-box-summer-so { max-width: 50%; left: -35px; top: 70%; }
        .ea-block2 .fgi-gradient2 .box .label-box-xmas { max-width: 80%; right: -75px; top: 97%; }
        
        /* ----- WSFR2 ----- */
        .ea-block2 .wsfr-gradient2 { margin: 0 0 160px 0; }
        .ea-block2 .wsfr-gradient2 .title { font-size: 24px; }
        .ea-block2 .wsfr-gradient2 .box .hexagon { width: 280px; height: 161.66px; margin: 80.83px auto; }
        .ea-block2 .wsfr-gradient2 .box .hexagon:before, .ea-block2 .wsfr-gradient2 .box .hexagon:after { width: 197.99px; height: 197.99px; left: 39.0051px; }
        .ea-block2 .wsfr-gradient2 .box .hexagon:before { top: -98.9949px; }
        .ea-block2 .wsfr-gradient2 .box .hexagon:after { bottom: -98.9949px; }
        .ea-block2 .wsfr-gradient2 .box .image-box { max-width: 60%; top: -18px; }
        .ea-block2 .wsfr-gradient2 .box .label-box { max-width: 35%; right: 0; top: 69%; max-width: 45%; }
        .ea-block2 .wsfr-gradient2 .box .label-box-summer-so { max-width: 50%; left: -35px; top: 70%; }
        .ea-block2 .wsfr-gradient2 .box .label-box-xmas { max-width: 80%; right: -75px; top: 97%; }
        
        /* Xmas */
        .xmasGift .content h2 { font-size: 32px; }
        .xmasGift .content h3 { font-size: 18px; }
        .xmasGift .content h4 { font-size: 16px; }
        
        /* Thank you Offer/UPSELL */
        .thankYouAreaOffer {padding: 20px 0 78px 0;}
        .thankYouAreaOffer .wrap { margin: 0 10px; }
        .thankYouAreaOffer .wrap h1 {font-size: 32px;}
        .thankYouAreaOffer .wrap h2 {font-size: 18px;}
        .thankYouAreaOffer .wrap .box {width: 100%;}
        .thankYouAreaOffer .wrap .price {width: 100%;padding: 20px 0 0 0;}
        .thankYouAreaOffer .wrap .price h3 {padding: 0;font-size: 18px;}
        .thankYouAreaOffer .wrap .price .content {margin: 15px 0;}
        .thankYouAreaOffer .wrap .price .content .regular .text {font-size: 20px;}
        .thankYouAreaOffer .wrap .price .content .current .text {font-size: 20px;}
        .thankYouAreaOffer .wrap .btn, .thankYouAreaOffer .wrap .btn:focus {font-size: 22px;padding: 5px 20px;}
        .thankYouAreaOffer .wrap h1.chart {font-size: 24px;padding: 30px 0 5px 0;}
        
        .remainArea .limited-offer {font-size: 30px;}
        
        /* WallStreetAsiaArea */
        .wallstreetAsiaArea .backtest {float: none;}
        .wallstreetAsiaArea .backtest h2 {font-size: 26px;}
        .wallstreetAsiaArea .fullback .full .text figure img {margin: 0 auto;}
}
@media only screen and (min-width: 480px) and (max-width: 600px) {
        
    /************** Launc special offer VF2.0 **********/
    .launch-promo-counter { right: 27px; width: 50%; top: 17%; }
    .launch-promo-counter .clock { width: 74%; }
    .launch-promo-counter .clock ul { margin: 0; }
    .launch-promo-counter .clock li p { padding: 0; font-size: 10px; margin: 0; }
    .launch-promo-counter .clock li cite { margin-bottom: 5px; font-size:18px; height: 26px; }
    .launch-promo-counter .clock li.point { font-size: 30px; }
    .launch-promo-counter .end { display: none;  }
    
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
        
    /************** Launc special offer VF2.0 **********/
    .launch-promo-counter { right: 31px; width: 50%; top: 17%; }
    .launch-promo-counter .clock { width: 74%; }
    .launch-promo-counter .clock ul { margin: 0; }
    .launch-promo-counter .clock li p { padding: 0; }
    .launch-promo-counter .clock li cite { margin-bottom: 5px; font-size: 24px; height: 32px; }
    .launch-promo-counter .clock li.point { font-size: 42px; }
    .launch-promo-counter .end { display: none;  }
    
    .ea-block2 .fd-gradient2 .box .label-box-xmas { max-width: 80%; right: -75px; top: 97%; }
    .ea-block2 .ftd-gradient2 .box .label-box-xmas { max-width: 80%; right: -75px; top: 97%; }
    .ea-block2 .fgi-gradient2 .box .label-box-xmas { max-width: 80%; right: -75px; top: 97%; }
    .ea-block2 .vf-gradient2 .box .label-box-xmas { max-width: 80%; right: -75px; top: 97%; }
}


    
    /***** Confirm Exit ******/
    img.visit-site { max-width: 80%; }
    .x-btn-title { padding: 15px 0 15px 0; }
    .ea-block2 .vf-gradient2 .title { font-size: 18px; }
    .ea-block2 .ftd-gradient2 .title { font-size: 18px; }
    .ea-block2 .fd-gradient2 .title { font-size: 18px; }
    .ea-block2 .pips-title2 { font-size: 18px; }
    .ea-block2 .pips-title { font-size: 20px; }
    /* ----- FTD ----- */
    .ea-block2 .ftd-gradient2 { margin: 0 0 70px 0; }
    .ea-block2 .ftd-gradient2 .box .hexagon { width: 190px; height: 109.70px; margin: 54.85px auto; }
    .ea-block2 .ftd-gradient2 .box .hexagon:before, .ea-block2 .ftd-gradient2 .box .hexagon:after { width: 134.35px; height: 134.35px; left: 25.8249px; }
    .ea-block2 .ftd-gradient2 .box .hexagon:before { top: -67.1751px; }
    .ea-block2 .ftd-gradient2 .box .hexagon:after { bottom: -67.1751px; }
    .ea-block2 .ftd-gradient2 .box .image-box { max-width: 60%; top: -18px; }
    .ea-block2 .ftd-gradient2 .box .label-box { max-width: 30%; right: 0; top: 69%; max-width: 45%; }
    .ea-block2 .ftd-gradient2 .box .label-box-summer-so { max-width: 45%; left: -25px; top: 75%; }
    .ea-block2 .ftd-gradient2 .box .label-box-xmas { max-width: 100%; right: -80px; top: 97%; }

    /* ----- FD ----- */
    .ea-block2 .fd-gradient2 { margin: 0 0 70px 0; }
    .ea-block2 .fd-gradient2 .box .hexagon { width: 190px; height: 109.70px; margin: 54.85px auto; }
    .ea-block2 .fd-gradient2 .box .hexagon:before, .ea-block2 .fd-gradient2 .box .hexagon:after { width: 134.35px; height: 134.35px; left: 25.8249px; }
    .ea-block2 .fd-gradient2 .box .hexagon:before { top: -67.1751px; }
    .ea-block2 .fd-gradient2 .box .hexagon:after { bottom: -67.1751px; }
    .ea-block2 .fd-gradient2 .box .image-box { max-width: 60%; top: -18px; }
    .ea-block2 .fd-gradient2 .box .label-box {  max-width: 30%; right: 0; top: 69%; max-width: 45%; }
    .ea-block2 .fd-gradient2 .box .label-box-summer-so { max-width: 45%; left: -25px; top: 75%; }
    .ea-block2 .fd-gradient2 .box .label-box-xmas { max-width: 100%; right: -80px; top: 97%; }

    /* ----- VF ----- */
    .ea-block2 .vf-gradient2 { margin: 0 0 70px 0; }
    .ea-block2 .vf-gradient2 .box .hexagon { width: 190px; height: 109.70px; margin: 54.85px auto; }
    .ea-block2 .vf-gradient2 .box .hexagon:before, .ea-block2 .vf-gradient2 .box .hexagon:after { width: 134.35px; height: 134.35px; left: 25.8249px; }
    .ea-block2 .vf-gradient2 .box .hexagon:before { top: -67.1751px; }
    .ea-block2 .vf-gradient2 .box .hexagon:after { bottom: -67.1751px; }
    .ea-block2 .vf-gradient2 .box .image-box { max-width: 60%; top: -18px; }
    .ea-block2 .vf-gradient2 .box .label-box { max-width: 30%; right: 0; top: 69%; max-width: 45%; }
    .ea-block2 .vf-gradient2 .box .label-box-summer-so { max-width: 45%; left: -25px; top: 75%; }
    .ea-block2 .vf-gradient2 .box .label-box-xmas { max-width: 100%; right: -80px; top: 97%; }
    
    /* ----- FGI ----- */
    .ea-block2 .fgi-gradient2 { margin: 0 0 70px 0; }
    .ea-block2 .fgi-gradient2 .box .hexagon { width: 190px; height: 109.70px; margin: 54.85px auto; }
    .ea-block2 .fgi-gradient2 .box .hexagon:before, .ea-block2 .fgi-gradient2 .box .hexagon:after { width: 134.35px; height: 134.35px; left: 25.8249px; }
    .ea-block2 .fgi-gradient2 .box .hexagon:before { top: -67.1751px; }
    .ea-block2 .fgi-gradient2 .box .hexagon:after { bottom: -67.1751px; }
    .ea-block2 .fgi-gradient2 .box .image-box { max-width: 60%; top: -18px; }
    .ea-block2 .fgi-gradient2 .box .label-box { max-width: 30%; right: 0; top: 69%; max-width: 45%; }
    .ea-block2 .fgi-gradient2 .box .label-box-summer-so { max-width: 45%; left: -25px; top: 75%; }
    .ea-block2 .fgi-gradient2 .box .label-box-xmas { max-width: 100%; right: -80px; top: 97%; }
    
    /* ----- WSFR2 ----- */
    .ea-block2 .wsfr-gradient2 { margin: 0 0 70px 0; }
    .ea-block2 .wsfr-gradient2 .box .hexagon { width: 190px; height: 109.70px; margin: 54.85px auto; }
    .ea-block2 .wsfr-gradient2 .box .hexagon:before, .ea-block2 .wsfr-gradient2 .box .hexagon:after { width: 134.35px; height: 134.35px; left: 25.8249px; }
    .ea-block2 .wsfr-gradient2 .box .hexagon:before { top: -67.1751px; }
    .ea-block2 .wsfr-gradient2 .box .hexagon:after { bottom: -67.1751px; }
    .ea-block2 .wsfr-gradient2 .box .image-box { max-width: 60%; top: -18px; }
    .ea-block2 .wsfr-gradient2 .box .label-box { max-width: 30%; right: 0; top: 69%; max-width: 45%; }
    .ea-block2 .wsfr-gradient2 .box .label-box-summer-so { max-width: 45%; left: -25px; top: 75%; }
    .ea-block2 .wsfr-gradient2 .box .label-box-xmas { max-width: 100%; right: -80px; top: 97%; }
        

    /* WallStreetAsiaArea */
    .wallstreetAsiaArea .backtest {float: none;}
    .wallstreetAsiaArea .backtest h2 {font-size: 26px;}
    .wallstreetAsiaArea .fullback .full .text {text-align: center;}
    .wallstreetAsiaArea .fullback .full .text figure {float: none;}
    .wallstreetAsiaArea .fullback .full .text figure img {margin: 0 auto;}
    
    .ce-winter-title {font-size: 58px;}
}	

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	
	/* banner wrapper */
	#bannerWrapper li { height: auto; }
		
		/* banner area */
		.bannerArea .overlay { padding: 90px 0 100px 0; width: 100%; }
		/*.bannerArea .overlay figure { margin: 0px; width: 40%; }*/
		.bannerArea .overlay figure { margin: 0 0 0 30px; }
		.bannerArea .overlay .text { padding: 15px; }
		.bannerArea .overlay .box { max-width: 100%; }
		.bannerArea .overlay figure img { max-width: 100%; }
		.bannerArea .overlay h1 { margin-top: 0px; font-size: 40px; line-height: normal; }
		
		.bannerArea .image { display: none; }

        .members_offer_sec .content .box .btn, .members_offer_sec .content .box .btn:focus { font-size: 12px; padding: 0 15px; }
        .members_offer_sec .col-md-2{width: 33.33333333%}
        
        .xmasGift .content .box .btn, .xmasGift .content .box .btn:focus { font-size: 12px; padding: 0 15px; }
        .xmasGift .col-md-2{width: 33.33333333%}
        
		
         
         /* Confirm exit */
        .confirm-exit-counter { width: 200px; }
        .confirm-exit-counter .bf-time-left { font-size: 24px; height: 40px; line-height: 40px; }
		.confirm-exit-counter .bf-time-left-dots { font-size: 24px; height: 40px; line-height: 36px; }
        
        /************** Launc special offer VF2.0 **********/
        .launch-promo-counter { right: 42px; width: 60%; top: 17%; }
        .launch-promo-counter .clock { width: 70%; }
        .launch-promo-counter .clock ul { margin: 5px 0 0 0; }
        .launch-promo-counter .clock li cite { margin-bottom: 10px; font-size: 37px; height: 54px; }
        .launch-promo-counter .end { font-size: 24px; display: block; }

        /***** Confirm Exit ******/
        .x-btn-title { padding: 15px 0 15px 0; }
        .ea-block2 .pips-title2 { font-size: 22px; }
        .ea-block2 .pips-title { font-size: 24px; }
        /* ----- FTD ----- */
        .ea-block2 .ftd-gradient2 { margin: 0 0 80px 0; }
        .ea-block2 .ftd-gradient2 .box .hexagon { width: 190px; height: 109.70px; margin: 54.85px auto; }
        .ea-block2 .ftd-gradient2 .box .hexagon:before, .ea-block2 .ftd-gradient2 .box .hexagon:after { width: 134.35px; height: 134.35px; left: 25.8249px; }
        .ea-block2 .ftd-gradient2 .box .hexagon:before { top: -67.1751px; }
        .ea-block2 .ftd-gradient2 .box .hexagon:after { bottom: -67.1751px; }
        .ea-block2 .ftd-gradient2 .box .image-box { max-width: 60%; top: -18px; }
        .ea-block2 .ftd-gradient2 .box .label-box { max-width: 31%; right: 0; top: 69%; max-width: 45%; }
        .ea-block2 .ftd-gradient2 .box .label-box-summer-so { max-width: 60%; left: -60px; top: 75%; }
        .ea-block2 .ftd-gradient2 .box .label-box-xmas { max-width: 90%; right: -60px; top: 90%; }

        /* ----- FD ----- */
        .ea-block2 .fd-gradient2 { margin: 0 0 80px 0; }
        .ea-block2 .fd-gradient2 .box .hexagon { width: 190px; height: 109.70px; margin: 54.85px auto; }
        .ea-block2 .fd-gradient2 .box .hexagon:before, .ea-block2 .fd-gradient2 .box .hexagon:after { width: 134.35px; height: 134.35px; left: 25.8249px; }
        .ea-block2 .fd-gradient2 .box .hexagon:before { top: -67.1751px; }
        .ea-block2 .fd-gradient2 .box .hexagon:after { bottom: -67.1751px; }
        .ea-block2 .fd-gradient2 .box .image-box { max-width: 60%; top: -18px; }
        .ea-block2 .fd-gradient2 .box .label-box {  max-width: 31%; right: 0; top: 57%; max-width: 45%; }
        .ea-block2 .fd-gradient2 .box .label-box-summer-so { max-width: 60%; left: -60px; top: 75%; }
        .ea-block2 .fd-gradient2 .box .label-box-xmas { max-width: 90%; right: -60px; top: 90%; }

        /* ----- VF ----- */
        .ea-block2 .vf-gradient2 { margin: 0 0 80px 0; }
        .ea-block2 .vf-gradient2 .box .hexagon { width: 190px; height: 109.70px; margin: 54.85px auto; }
        .ea-block2 .vf-gradient2 .box .hexagon:before, .ea-block2 .vf-gradient2 .box .hexagon:after { width: 134.35px; height: 134.35px; left: 25.8249px; }
        .ea-block2 .vf-gradient2 .box .hexagon:before { top: -67.1751px; }
        .ea-block2 .vf-gradient2 .box .hexagon:after { bottom: -67.1751px; }
        .ea-block2 .vf-gradient2 .box .image-box { max-width: 60%; top: -18px; }
        .ea-block2 .vf-gradient2 .box .label-box { max-width: 31%; right: 0; top: 69%; max-width: 45%; }
        .ea-block2 .vf-gradient2 .box .label-box-summer-so { max-width: 60%; left: -60px; top: 75%; }
        .ea-block2 .vf-gradient2 .box .label-box-xmas { max-width: 90%; right: -60px; top: 90%; }
        
        /* ----- FGI ----- */
        .ea-block2 .fgi-gradient2 { margin: 0 0 80px 0; }
        .ea-block2 .fgi-gradient2 .box .hexagon { width: 190px; height: 109.70px; margin: 54.85px auto; }
        .ea-block2 .fgi-gradient2 .box .hexagon:before, .ea-block2 .fgi-gradient2 .box .hexagon:after { width: 134.35px; height: 134.35px; left: 25.8249px; }
        .ea-block2 .fgi-gradient2 .box .hexagon:before { top: -67.1751px; }
        .ea-block2 .fgi-gradient2 .box .hexagon:after { bottom: -67.1751px; }
        .ea-block2 .fgi-gradient2 .box .image-box { max-width: 60%; top: -18px; }
        .ea-block2 .fgi-gradient2 .box .label-box { max-width: 31%; right: 0; top: 69%; max-width: 45%; }
        .ea-block2 .fgi-gradient2 .box .label-box-summer-so { max-width: 60%; left: -60px; top: 75%; }
        .ea-block2 .fgi-gradient2 .box .label-box-xmas { max-width: 90%; right: -60px; top: 90%; }
        
        /* ----- WSFR2 ----- */
        .ea-block2 .wsfr-gradient2 { margin: 0 0 80px 0; }
        .ea-block2 .wsfr-gradient2 .box .hexagon { width: 190px; height: 109.70px; margin: 54.85px auto; }
        .ea-block2 .wsfr-gradient2 .box .hexagon:before, .ea-block2 .wsfr-gradient2 .box .hexagon:after { width: 134.35px; height: 134.35px; left: 25.8249px; }
        .ea-block2 .wsfr-gradient2 .box .hexagon:before { top: -67.1751px; }
        .ea-block2 .wsfr-gradient2 .box .hexagon:after { bottom: -67.1751px; }
        .ea-block2 .wsfr-gradient2 .box .image-box { max-width: 60%; top: -18px; }
        .ea-block2 .wsfr-gradient2 .box .label-box { max-width: 31%; right: 0; top: 69%; max-width: 45%; }
        .ea-block2 .wsfr-gradient2 .box .label-box-summer-so { max-width: 60%; left: -60px; top: 75%; }
        .ea-block2 .wsfr-gradient2 .box .label-box-xmas { max-width: 90%; right: -60px; top: 90%; }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    /***** Confirm Exit ******/
    .x-btn-title { padding: 15px 0 15px 0; }
    img.visit-site { max-width: 80%; }
    .ea-block2 .pips-title2 { font-size: 18px; }
    .ea-block2 .pips-title { font-size: 20px; }
    /* ----- FTD ----- */
    .ea-block2 .ftd-gradient2 { margin: 0 0 100px 0; }
    .ea-block2 .ftd-gradient2 .box .hexagon { width: 190px; height: 109.70px; margin: 54.85px auto; }
    .ea-block2 .ftd-gradient2 .box .hexagon:before, .ea-block2 .ftd-gradient2 .box .hexagon:after { width: 134.35px; height: 134.35px; left: 25.8249px; }
    .ea-block2 .ftd-gradient2 .box .hexagon:before { top: -67.1751px; }
    .ea-block2 .ftd-gradient2 .box .hexagon:after { bottom: -67.1751px; }
    .ea-block2 .ftd-gradient2 .box .image-box { max-width: 60%; top: -18px; }
    .ea-block2 .ftd-gradient2 .box .label-box { max-width: 30%; right: 0; top: 65%; max-width: 45%; }
    .ea-block2 .ftd-gradient2 .box .label-box-summer-so { max-width: 55%; left: -40px; top: 75%; }
    .ea-block2 .ftd-gradient2 .box .label-box-xmas { max-width:70%; right: 0px; top: 95%; }

    /* ----- WSFR ----- */
    .ea-block2 .wsfr-gradient2 { margin: 0 0 100px 0; }
    .ea-block2 .wsfr-gradient2 .box .hexagon { width: 190px; height: 109.70px; margin: 54.85px auto; }
    .ea-block2 .wsfr-gradient2 .box .hexagon:before, .ea-block2 .wsfr-gradient2 .box .hexagon:after { width: 134.35px; height: 134.35px; left: 25.8249px; }
    .ea-block2 .wsfr-gradient2 .box .hexagon:before { top: -67.1751px; }
    .ea-block2 .wsfr-gradient2 .box .hexagon:after { bottom: -67.1751px; }
    .ea-block2 .wsfr-gradient2 .box .image-box { max-width: 60%; top: -18px; }
    .ea-block2 .wsfr-gradient2 .box .label-box {  max-width: 30%; right: 0; top: 65%; max-width: 45%; }
    .ea-block2 .wsfr-gradient2 .box .label-box-summer-so { max-width: 55%; left: -40px; top: 75%; }
    .ea-block2 .wsfr-gradient2 .box .label-box-xmas { max-width:70%; right: 0px; top: 95%; }

    /* ----- FD ----- */
    .ea-block2 .vf-gradient2 { margin: 0 0 100px 0; }
    .ea-block2 .vf-gradient2 .box .hexagon { width: 190px; height: 109.70px; margin: 54.85px auto; }
    .ea-block2 .vf-gradient2 .box .hexagon:before, .ea-block2 .fd-gradient2 .box .hexagon:after { width: 134.35px; height: 134.35px; left: 25.8249px; }
    .ea-block2 .vf-gradient2 .box .hexagon:before { top: -67.1751px; }
    .ea-block2 .vf-gradient2 .box .hexagon:after { bottom: -67.1751px; }
    .ea-block2 .vf-gradient2 .box .image-box { max-width: 60%; top: -18px; }
    .ea-block2 .vf-gradient2 .box .label-box {  max-width: 30%; right: 0; top: 65%; max-width: 45%; }
    .ea-block2 .vf-gradient2 .box .label-box-summer-so { max-width: 55%; left: -40px; top: 75%; }
    .ea-block2 .vf-gradient2 .box .label-box-xmas { max-width:70%; right: 0px; top: 95%; }
    
    /* ----- FD ----- */
    .ea-block2 .fd-gradient2 { margin: 0 0 100px 0; }
    .ea-block2 .fd-gradient2 .box .hexagon { width: 190px; height: 109.70px; margin: 54.85px auto; }
    .ea-block2 .fd-gradient2 .box .hexagon:before, .ea-block2 .fd-gradient2 .box .hexagon:after { width: 134.35px; height: 134.35px; left: 25.8249px; }
    .ea-block2 .fd-gradient2 .box .hexagon:before { top: -67.1751px; }
    .ea-block2 .fd-gradient2 .box .hexagon:after { bottom: -67.1751px; }
    .ea-block2 .fd-gradient2 .box .image-box { max-width: 60%; top: -18px; }
    .ea-block2 .fd-gradient2 .box .label-box {  max-width: 30%; right: 0; top: 65%; max-width: 45%; }
    .ea-block2 .fd-gradient2 .box .label-box-summer-so { max-width: 55%; left: -40px; top: 75%; }
    .ea-block2 .fd-gradient2 .box .label-box-xmas { max-width:70%; right: 0px; top: 95%; }

    /* ----- FGI ----- */
    .ea-block2 .fgi-gradient2 { margin: 0 0 100px 0; }
    .ea-block2 .fgi-gradient2 .box .hexagon { width: 190px; height: 109.70px; margin: 54.85px auto; }
    .ea-block2 .fgi-gradient2 .box .hexagon:before, .ea-block2 .fgi-gradient2 .box .hexagon:after { width: 134.35px; height: 134.35px; left: 25.8249px; }
    .ea-block2 .fgi-gradient2 .box .hexagon:before { top: -67.1751px; }
    .ea-block2 .fgi-gradient2 .box .hexagon:after { bottom: -67.1751px; }
    .ea-block2 .fgi-gradient2 .box .image-box { max-width: 60%; top: -18px; }
    .ea-block2 .fgi-gradient2 .box .label-box {  max-width: 30%; right: 0; top: 65%; max-width: 45%; }
    .ea-block2 .fgi-gradient2 .box .label-box-summer-so { max-width: 55%; left: -40px; top: 75%; }
    .ea-block2 .fgi-gradient2 .box .label-box-xmas { max-width:70%; right: 0px; top: 95%; }
    
    .xmax_x_box .btn, .xmax_x_box .btn:focus {font-size: 16px; padding: 0 10px;}
}


@media only screen and (min-width: 1600px) and (max-width: 1899px) {

    /* ----- FTD ----- */
    .ea-block2 .ftd-gradient2 .box .label-box-xmas { max-width:55%; right: 40px; top: 90%; }
    .ea-block2 .ftd-gradient2 .box .label-box { max-width:55%; right: 40px; top: 90%; max-width: 35%; }

    /* ----- WSFR ----- */
    .ea-block2 .wsfr-gradient2 .box .label-box-xmas { max-width:55%; right: 40px; top: 90%; }
    .ea-block2 .wsfr-gradient2 .box .label-box { max-width:55%; right: 40px; top: 90%; max-width: 35%; }

    /* ----- FD ----- */
    .ea-block2 .vf-gradient2 .box .label-box-xmas { max-width:55%; right: 40px; top: 90%; }
    .ea-block2 .vf-gradient2 .box .label-box { max-width:55%; right: 40px; top: 90%; max-width: 35%; }
    
    /* ----- FD ----- */
    .ea-block2 .fd-gradient2 .box .label-box-xmas { max-width:55%; right: 40px; top: 90%; }
    .ea-block2 .fd-gradient2 .box .label-box { max-width:55%; right: 40px; top: 90%; max-width: 35%; }

    /* ----- FD ----- */
    .ea-block2 .fgi-gradient2 .box .label-box-xmas { max-width:55%; right: 40px; top: 90%; }
    .ea-block2 .fgi-gradient2 .box .label-box { max-width:55%; right: 40px; top: 90%; max-width: 35%; }
}

/* RESPONSIVE CSS CODE END */


/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/

/* RULES CSS CODE BEGIN */
br.cleaner{clear:both}div.cleaner{clear:both;padding:0;margin:0;font-size:0;height:0;overflow:hidden}.text-left{text-align:left}.text-right{text-align:right}

/* ------------------ Spaces ------------------- */
div.space-2px{padding:0;margin:0;font-size:0;height:2px}div.space-3px{padding:0;margin:0;font-size:0;height:3px}div.space-5px{padding:0;margin:0;font-size:0;height:5px}div.space-7px{padding:0;margin:0;font-size:0;height:7px}div.space-10px{padding:0;margin:0;font-size:0;height:10px}div.space-15px{padding:0;margin:0;font-size:0;height:15px}div.space-20px{padding:0;margin:0;font-size:0;height:20px}div.space-25px{padding:0;margin:0;font-size:0;height:25px}div.space-30px{padding:0;margin:0;font-size:0;height:30px}div.space-35px{padding:0;margin:0;font-size:0;height:35px}div.space-40px{padding:0;margin:0;font-size:0;height:40px}div.space-50px{padding:0;margin:0;font-size:0;height:50px}div.space-60px{padding:0;margin:0;font-size:0;height:60px}div.vspace-left-5px{padding:0;margin:0;font-size:5px;width:5px;float:left;overflow:hidden}div.vspace-left-10px{padding:0;margin:0;font-size:10px;width:10px;float:left;overflow:hidden}div.vspace-left-15px{padding:0;margin:0;font-size:15px;width:15px;float:left;overflow:hidden}div.vspace-left-20px{padding:0;margin:0;font-size:20px;width:20px;float:left;overflow:hidden}

/* --------------- Rounded corners ---------------- */
.round1px{-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px}.round2px{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}.round3px{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.round4px{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.round5px{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}.round6px{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}.round10px{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}

/* --------------- Global Rules ---------------- */
.blue2{color:#296cba}.green1{color:#a6ff4c}.green2{color:#11a545}.blue3{color:#062161}.red{color:#c80000}.blue{color:#026aba}.black{color:#000}.white{color:#fff}.strong{font-weight:700}.normal{font-weight:400}.italic{font-style:italic}.justify{text-align:justify}.underline{text-decoration:underline}.center{text-align:center!important}.tahoma{font-family:Tahoma,Geneva,sans-serif!important}.archivo-narrow{font-family:'Archivo Narrow',sans-serif}.trebuchet{font-family:Trebuchet MS,Tahoma,Geneva,sans-serif!important}.arial{font-family:Arial,Helvetica,sans-serif}.verdana{font-family:Verdana,Geneva,sans-serif}.size-10px{font-size:10px!important}.size-11px{font-size:11px!important}.size-12px{font-size:12px!important}.size-13px{font-size:13px!important}.size-14px{font-size:14px!important}.size-15px{font-size:15px!important}.size-16px{font-size:16px!important}.size-18px{font-size:18px!important}.size-19px{font-size:19px!important}.size-20px{font-size:20px!important}.size-21px{font-size:21px!important}.size-22px{font-size:22px!important}.size-24px{font-size:24px!important}.size-25px{font-size:25px!important}.size-26px{font-size:26px!important}.size-27px{font-size:27px!important}.size-28px{font-size:28px!important}.size-29px{font-size:29px!important}.size-30px{font-size:30px!important}.size-32px{font-size:32px!important}.size-34px{font-size:34px!important}.size-36px{font-size:36px!important}.size-38px{font-size:38px!important}.size-40px{font-size:40px!important}.size-42px{font-size:42px!important}.size-44px{font-size:44px!important}.size-46px{font-size:46px!important}.size-48px{font-size:48px!important}.size-50px{font-size:50px!important}.size-52px{font-size:52px!important}.size-54px{font-size:54px!important}.size-56px{font-size:56px!important}.size-60px{font-size:60px!important}.size-64px{font-size:64px!important}.size-68px{font-size:68px!important}.p5{padding:5px!important}.p10{padding:10px!important}.p15{padding:15px!important}.p20{padding:20px!important}.p30{padding:30px!important}.p40{padding:40px!important}.p50{padding:50px!important}.pv5{padding-top:5px!important;padding-bottom:5px!important}.pv10{padding-top:10px!important;padding-bottom:10px!important}.pv15{padding-top:15px!important;padding-bottom:15px!important}.pv20{padding-top:20px!important;padding-bottom:20px!important}.pv30{padding-top:30px!important;padding-bottom:30px!important}.pv40{padding-top:40px!important;padding-bottom:40px!important}.pv50{padding-top:50px!important;padding-bottom:50px!important}.ph5{padding-left:5px!important;padding-right:5px!important}.ph10{padding-left:10px!important;padding-right:10px!important}.ph15{padding-left:15px!important;padding-right:15px!important}.ph20{padding-left:20px!important;padding-right:20px!important}.ph30{padding-left:30px!important;padding-right:30px!important}.ph40{padding-left:40px!important;padding-right:40px!important}.ph50{padding-left:50px!important;padding-right:50px!important}.ph60{padding-left:60px!important;padding-right:60px!important}.ph70{padding-left:70px!important;padding-right:70px!important}.ph80{padding-left:80px!important;padding-right:80px!important}.ph90{padding-left:90px!important;padding-right:90px!important}.ph100{padding-left:100px!important;padding-right:100px!important}.pl5{padding-left:5px!important}.pl10{padding-left:10px!important}.pl15{padding-left:15px!important}.pl20{padding-left:20px!important}.pl30{padding-left: 30px !important;}.pl40{padding-left: 40px !important;}.pl50{padding-left: 50px !important;}.pr5{padding-right: 5px !important;}.pr10{padding-right: 10px !important;}.pr15{padding-right: 15px !important;}.pr20{padding-right: 20px !important;}.pr30{padding-right: 30px !important;}.pr40{padding-right: 40px !important;}.pr50{padding-right: 50px !important;}.pt5{padding-top: 5px !important;}.pt10{padding-top: 10px !important;}.pt15{padding-top: 15px !important;}.pt20{padding-top: 20px !important;}.pt30{padding-top: 30px !important;}.pt40{padding-top: 40px !important;}.pt50{padding-top: 50px !important;}.pb0{padding-bottom: 0px !important;}.pb5{padding-bottom: 5px !important;}.pb10{padding-bottom: 10px !important;}.pb15{padding-bottom: 15px !important;}.pb20{padding-bottom: 20px !important;}.pb30{padding-bottom: 30px !important;}.pb40{padding-bottom: 40px !important;}.pb50{padding-bottom: 50px !important;}.p0{padding: 0 !important;}.m0{margin: 0 !important;}.lh-150-percent{line-height: 150% !important;}

/* RULES CSS CODE END */
